.preview {
  cursor: pointer;
  box-sizing: border-box;
  min-height: 100px;
  margin: 20px;
  background-color: rgba(153, 153, 153, 0.1);
}


.preview-status--selected {
  border: 1px solid salmon
}
