.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.black {
  color: black;
}

.white {
  color: white;
}

.gray {
  color: gray;
}

.lightgray {
  color: lightgray;
}
